.logo{
    width: 100px;
    height: auto;
    position: relative;
    left: 6em;
    top: 5em;
}
/** Social Icons */ 
.icons-container{
    position: relative;
    top: 17em;
}
.universal-inline-block {
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
  .social-icons {
    text-align: center;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 1.5em;
    color: #448aaf;
  }
  .social-icons h1 {
    margin: 40px 0;
  }
  .social-icons ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .social-icons ul li {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
  }
  .social-icons ul li a {
    display: block;
    font-size: 1.4em;
    margin: 0 5px;
    text-decoration: none;
  }
  .social-icons ul li a i {
    color: #448aaf;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  .social-icons ul li a:hover i {
    color: #275066;
  }
  .social-icons ul li a:focus i,
  .social-icons ul li a:active i {
    transition: none;
    color: #0b161c;
  }
  /**** Lists **/
  .second-section {
      position: relative;
      top: 5em;
  }
  .links-container ul{
    list-style-type: none;
  }
  .links-container ul li{
    position: relative;
    right: 2em;
  }
  
  /****** Right Section ****/
  .right-section{
    position: relative;
    top: 5em;
    float: right;
  }
  .right-section .header-paragraph{
    position: relative;
    left: 3em;
    font-weight: bold;
    margin-bottom: 0;
  }
  .right-section small{
    float: right;
  }
  .images-container{
    position: relative;
    top: 0.8em;
    left: 3em;
  }
  .images-container a img {
    width: 150px;
    height: auto;
  }
  .select-container{
    position: relative;
    top: 1em;
    left: 3em;
  }
  #inputGroupSelect01{
    border-top-width: 2px;
    border-bottom-width: 2px;
  }
  